body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}
#liveControls {
  padding: none;
  margin: none;
  width: 100%;
  height: 32px;
  background-color: black;
  color: white;
}
#liveFrame {
  width: 100%;
  height: 100%;
}
